<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../highcharts/code/highcharts.js"></script>
    <script src="../js/jquery.min.js"></script>

</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</body>
<SCRIPT>

    $(function(){
        $.ajax({
            url:"../car/queryCat",
            type:"post",
            dataType:"json",
            success:function (data) {
                Highcharts.chart('container', {
                    title: {
                        text: '时间占比'
                    },
                    yAxis: {
                        title: {
                            text: '时间数量'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    },
                    series: [{
                        name: '月份',
                        colorByPoint: true,
                        data: data
                    }]
                });
            },error:function () {
                alert("查询失败")
            }
        })
    })









</SCRIPT>
</html>