<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../highcharts/code/highcharts.js"></script>
    <script src="../js/jquery.min.js"></script>

</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</body>
<SCRIPT>

    $(function(){
            $.ajax({
                url:"../car/querycar4",
                type:"post",
                dataType:"json",
                success:function (data) {

                    var chart = Highcharts.chart('container', {
                        chart: {
                            type: 'scatter',
                            zoomType: 'xy'
                        },
                        title: {
                            text: '1902B 汽车'
                        },
                        subtitle: {
                            text: '数据来源: Heinz  2003'
                        },
                        xAxis: {
                            title: {
                                enabled: true,
                                text: '时间'
                            },
                            startOnTick: true,
                            endOnTick: true,
                            showLastLabel: true
                        },
                        yAxis: {
                            title: {
                                text: '颜色'
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'left',
                            verticalAlign: 'top',
                            x: 100,
                            y: 70,
                            floating: true,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                            borderWidth: 1
                        },
                        plotOptions: {
                            scatter: {
                                marker: {
                                    radius: 5,
                                    states: {
                                        hover: {
                                            enabled: true,
                                            lineColor: 'rgb(100,100,100)'
                                        }
                                    }
                                },
                                states: {
                                    hover: {
                                        marker: {
                                            enabled: false
                                        }
                                    }
                                },
                                tooltip: {
                                    headerFormat: '<b>{series.name}</b><br>',
                                    pointFormat: '{point.x} 日, {point.y} 颜色'
                                }
                            }
                        },
                        series:data /* [{
                        name: data,
                        color: 'rgba(223, 83, 83, .5)',
                        data: data
                    }]*/
                    });

                },error:function () {
                    alert("查询失败")
                }
            })




    })

</SCRIPT>
</html>