<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form id="mongoForm">
    <input th:type="hidden"   name="id"  th:value="${cat.id}">
    <div class="form-group">
        <label>猫咪名称</label>
        <input th:type="text" class="form-control" th:value="${cat.catName}"  name="catName" placeholder="猫咪名称">
    </div>
    <div class="form-group">
        <label>类型</label>
        <input th:type="number" class="form-control" th:value="${cat.catType}"  name="catType" placeholder="1 家猫 0 野猫">
    </div>
    <div class="form-group">
        <label>出生时间</label>
        <input th:type="date" class="form-control" th:value="${#dates.format(cat.createTime,'yyyy-MM-dd')}" name="createTime" style="width:200">

    </div>

    <div class="form-group">
        <label>健康状态状态</label>
        <input th:type="number" class="form-control" th:value="${cat.status}"  name="status" placeholder="1正常  0生病">
    </div>
</form>